/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --color-neutral-light: #F3F7FA;
  --color-neutral-medium: #9aa2a4;
  --color-neutral-dark: #363c3e;

  --color-green-light: #9BBFAB;
  --color-green-medium:#1A736A;
  --color-green-dark:#09403A;

  --color-red-light: #F2E4DC;
  --color-red-medium:#F2887E;
  --color-red-dark:#FF5A43;
  

  --color-white: #fff;
  --color-black: #000;

  --header-height:3rem;
  --gap-size:1rem;
  --container-width:1000px;

  --font-serif:Georgia, "Times New Roman", serif;
  --font-sans:Helvetica, arial, sans-serif;
  --font-segoeui:Segoe UI;
}


body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
   background-image: url("../img/bg.svg");
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 0px 18.2712px rgba(49, 119, 255, 0.7), 0px 0px 70.7336px rgba(49, 119, 255, 0.5);
   
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
   
   
}
h1 {
  text-align: center; 
  line-height: 4.24em;
  color: rgba(255, 255, 255, 0.8); 
  letter-spacing: 0.15em; 
  padding-top: 9px; 
  text-transform: uppercase; 
  text-shadow: 0px 0px 18.2712px rgba(49, 255, 156, 0.7), 0px 0px 70.7336px rgba(49, 255, 156, 0.5);
  filter: blur(0.8px);
}

a {
   
   
   text-decoration:none;
   font-weight:bold;
   color:rgba(240, 220, 255, 1.2); 
   letter-spacing: 0.035em;  
   text-shadow: 0px 0px 7.87071px rgba(255, 232, 240, 1.2), 0px 0px 27.8502px rgba(255, 232, 240, 0.5); 
   filter: blur(0.49151px); 
   line-height: 4.24em;
}
a:hover {
   text-decoration: underline;

}





/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }






/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;

}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
[data-role="footer"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   height:72px;
   background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

   position:relative;
   overflow:hidden;
}
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   height:60px;
   background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}






/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1rem;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}

/*#footer-template {
  position: absolute;
  width: 100%;
  height: 98px;
  left: 0px;
  top: 714px;

  background: linear-gradient(167.96deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(100px);*/
  /* Note: backdrop-filter has minimal browser support */

/*  border-radius: 40px;
}*/





[data-page-link].active {
  background-color:var(--color-main-light);
}





/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: rgba(206, 237, 255, 0.8);
    letter-spacing: 0.1em;

    text-shadow: 0px 0px 8.23822px rgba(206, 237, 255, 0.7), 0px 0px 31.8928px rgba(206, 237, 255, 0.5);
    filter: blur(0.588444px);

}
.form-input,
.form-button,
.form-select select {
    webkit-appearance:none;

}
.form-input {
    width: 100%;
    display: inline-block;
    /*border: 1px solid var(--color-neutral-light);*/
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 40px;
    outline: 0;
    
    background: rgba(196, 196, 196, 0.01);
    opacity: 0.5;
    box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(45.614px);
/* Note: backdrop-filter has minimal browser support */

    color: rgba(255, 255, 255, 1.2);
    /*opacity: 0.8;*/
    text-shadow: 0px 0px 17.0303px rgba(63, 80, 123, 0.7), 0px 0px 65.9298px rgba(97, 105, 117, 0.5);
    /*filter: blur(1.21645px);*/
    
    


}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:var(--color-green-medium);
    /*opacity: 50%;*/
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 18.2712px rgba(49, 255, 156, 0.7), 0px 0px 70.7336px rgba(49, 255, 156, 0.5);
    box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);
    filter: blur(0.8px);
    cursor:pointer;
}
.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}


.form-select {
   position: relative;
}
.form-select>select {
   display:inline-block;
   width:100%;
   border-width:0;
   background-color:var(--color-neutral-light);
   padding:0.5em 2em 0.5em 1em;
   border-radius:0.3em;
   font:inherit;
   outline:0;
   position:relative;
   overflow:hidden;
   -webkit-appearance:none;
}
.form-select::after {
   position:absolute;
   top:50%;
   right:0.5em;
   content:'▼';
   font-family:arial;
   font-size:0.9em;
   color:var(--color-neutral-dark);
   pointer-events:none;
   transform: translateY(-50%);
}
.hotdog {
    display: inline-flex;
    width: 100%;
    border-width: 0;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

    border-radius: 2em;
    height:var(--header-height);
  line-height:var(--header-height);
  
    

}
.hotdog>input {
    flex: 1;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
    box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

    border-radius: 2em;
    border-width: 0;
    line-height: 2.5;
    padding: 0 1em;
    outline: 0;
    font-size: inherit;
    

    
   

}
.hotdog.hovering {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

    border-radius: 2em;
    box-shadow:1px 0 5px rgba(0,0,0,0.2)

}





/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:4.5em;
  box-shadow:none;
}
.modal-card .modal-body {
  /*box-shadow:0 0 5px rgba(0,0,0,0.3);
  border-radius:1em;*/
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px 50.8326px 72.9904px -46.9224px rgba(255, 255, 255, 0.5), inset 0px 9.1238px 14.3374px -5.2136px #FFFFFF, inset 0px -106.879px 88.6312px -83.4176px rgba(96, 68, 145, 0.3), inset 0px 127.733px 130.34px -62.5632px rgba(202, 172, 255, 0.3), inset 0px 5.2136px 23.4612px rgba(154, 146, 210, 0.3), inset 0px 1.3034px 52.136px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(50px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 1em;
}




.modal-head,
.modal-foot {
  
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px 11.3675px 16.3225px -10.493px rgba(255, 255, 255, 0.5), inset 0px 2.04031px 3.2062px -1.16589px #FFFFFF, inset 0px -23.9008px 19.8202px -18.6543px rgba(96, 68, 145, 0.3), inset 0px 28.5644px 29.1473px -13.9907px rgba(202, 172, 255, 0.3), inset 0px 1.16589px 5.24652px rgba(154, 146, 210, 0.3), inset 0px 0.291473px 11.6589px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(29.1473px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 31.4791px 31.4791px 31.4791px 31.4791px;

/* Note: backdrop-filter has minimal browser support */

  /*background-color:var(--color-main-light);*/
  padding:0.5em 1em;
}
.modal-body {
  
  /*background-color:var(--color-white);*/
  background: linear-gradient(0deg, rgba(240, 220, 255, 0.8), rgba(240, 220, 255, 0.8)), linear-gradient(180deg, #FFE8F0 0%, rgba(255, 232, 240, 0) 100%);
  box-shadow: 0px 0px 11.202px rgba(255, 232, 240, 0.7), 0px 0px 39.638px rgba(255, 232, 240, 0.5), inset 0px 0px 5.17017px rgba(255, 232, 240, 0.5);
  filter: blur(0.699545px);
  border-radius: 31.4791px 31.4791px 31.4791px 31.4796px;


  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}








/* ICONS */
.icon svg,
.icon img {
  padding-top: 10px;
  width:2em;
  height:2em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:0.7em;
}




/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1rem;
  display:block;
}






.circle-button {
  display:inline-block;
  vertical-align:middle;
  /*background-color:white;
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  border-radius:50%;*/
  background: rgba(196, 196, 196, 0.01);
  /*opacity: 0.5;*/
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(45.614px);
/* Note: backdrop-filter has minimal browser support */

  /*border-radius: 68.9068px;*/
  border-radius: 2em;
    
    /*line-height: 2.5;*/
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
}






/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}



/*  LOGO */
.logo{
  margin-bottom: 1em;
  width: 100%;
}



/* EMOTION PROFILE PAGE */
.emotion-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
  position:relative;
}
.emotion-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.emotion-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.emotion-nav {
  text-align:center;
}

.emotion-nav li {
  position:relative;
  border-bottom: calc(0.5 * var(--border-size)) solid var(--neutral-color);
    align-items:flex-end;
}
.emotion-nav .active::after {
  content:'';
  position:absolute;
  bottom:-1px;
  left:0;
  width:100%;
  height:0;
  background-color:var(--color-main-medium);
  transition: height 0.3s;
}
.emotion-bottom-section {
  display:none;
}
.emotion-bottom-section.active {
  display:block;
}
.emotion-info {
  padding:1em;
}



.emotionlist {
  padding-bottom: 3em;
}
.emotionlist-item {
  font-weight:normal;
  background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
  box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgba(255, 255, 255, 0.5), inset 0px -5.92982px 4.10526px -6.38596px rgba(255, 255, 255, 0.75), inset 0px 3.19298px 5.01754px -1.82456px #FFFFFF, inset 0px -37.4035px 31.0175px -29.193px rgba(96, 68, 145, 0.3), inset 0px 44.7017px 45.614px -21.8947px rgba(202, 172, 255, 0.3), inset 0px 1.82456px 8.21052px rgba(154, 146, 210, 0.3), inset 0px 0.45614px 18.2456px rgba(227, 222, 255, 0.2);

  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  /*box-shadow: 0 5px 10px rgb(0 0 0 / 20%);*/
  
}
.emotionlist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
  object-fit:cover;
}
.emotionlist-description {
  padding:1em;
}
.emotionlist-name {
  font-size:1.3em;
  color: rgba(206, 237, 255, 0.8); 


  letter-spacing: 0.1em;
text-transform: uppercase;
text-shadow: 0px 0px 8.43696px rgba(206, 237, 255, 0.7), 0px 0px 32.6622px rgba(206, 237, 255, 0.5);
filter: blur(0.60264px);
}




.emotion-image-thumb img {
  width:6em;
  height:6em;
  vertical-align: middle;
}






.emotion-jump * {
  pointer-events:none;
}









.user-profile-image {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    padding-top: 16px;
    padding-right:16px;
    padding-left: 16px;
    /*background-color: var(--color-main-light);*/
    /*position: absolute;*/
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px 43.8861px 63.0159px -40.5103px rgba(255, 255, 255, 0.5), inset 0px 7.87699px 12.3781px -4.50114px #FFFFFF, inset 0px -92.2734px 76.5194px -72.0182px rgba(96, 68, 145, 0.3), inset 0px 110.278px 112.528px -54.0137px rgba(202, 172, 255, 0.3), inset 0px 4.50114px 20.2551px rgba(154, 146, 210, 0.3), inset 0px 1.12528px 45.0114px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(112.528px);
/* Note: backdrop-filter has minimal browser support */

    border-radius: 200px;


}
.user-profile-image>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    padding: 2em;
}

.profile-img .icon{
  position: absolute;
  object-fit: cover;
}


.image-uploader.full {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.image-uploader.full input{
  display:none;
}

.user-profile-description {
  position:relative;
  text-align:center;
  flex: 1 1 100%;
  align-items: center;
  /*display:none;*/

}



.filter-set .header {

  overflow:auto;
}
.filter {
  font-weight:bold;
  padding:0 0.5em;
}

















/* ICON SWAP */
.icon-swap {
  width:1.6em;
  height:1.6em;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.icon-swap.map-icon { background-image:url(../img/icon/map.svg); }
.sploofactive .icon-swap.map-icon { background-image:url(../img/icon/list.svg); }
.icon-swap.list { background-image:url(../img/icon/list.svg); }
.icon-swap.pencil { background-image:url(../img/icon/pencil.svg); }